@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

header {
  /* border: 2px dotted red; */
  padding: 0;
  height: 70px;
  background-color: #f2f2f2;
  color: #107a78;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  font-size: xx-large;
  box-shadow: 0 0 20px 5px rgb(197, 197, 197);
}

.search-bar {
  /* border: 2px dotted blue; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

}

.content {
  /* border: 2px dotted green; */
  height: 81vh;
  display: flex;
  box-sizing: border-box;

}

.shelf {
  /* border: 2px dotted fuchsia; */
  border-right: 2px solid #107a78;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.book-list {
  /* border: 2px dotted cyan; */
  width: 25%;
  padding: 10px;
  display: block;
}